.details{
    margin-bottom: 100px;
}

.project-demo{
    max-width: 100%;
    max-height: 240px;
    width: 400px;
    object-fit: cover;
    object-position: top;
    padding: 5px;
}

.list{
    width: 40%;
    text-align: left;
    margin:auto;
    margin-bottom: 20px;
}
.project-demo-col{
    display: grid;
    place-content: center;
}
.project-demo-container{
    max-height: 300px;
    display: grid;
    place-content: center;
    border: 1px solid transparent;
    border-radius: 1px;
    box-shadow: 1px 1px 1.5px 1px rgba(136, 136, 136, 0.116);
    margin-inline: 5px;
}


.details-row{
    width: 100%;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 20px;
}

.details a{
    /* color: white; */
    display: inline-block;
    margin: 0px;
    margin-left: 5px;
    /* text-decoration: none; */
}
@media screen and (max-width:500px) {
    .link-btn{
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }
}
@media screen and (min-width:501px) {
    .link-btn{
        margin: 10px;
    }
}
@media screen and (max-width:600px) {
    .list{
        width: 80%;
    }
}
@media screen and (max-width:800px) and (min-width:601px) {
    .list{
        width: 60%;
    }
}