/* .header-container{
    background-color: black;
} */
/* nav a {
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    margin: 5px;
    margin-inline: 10px;
    padding: 8px;
    text-decoration: none;
    color: black;
}
 nav a:hover{
    color: rgba(0, 0, 0, 0.7);
}

nav a:active{
    color: Black;
    font-weight: 600;
}

.selected{
    color: red;
}  */
