.project-img{
    /* max-width: 100%; */
    padding-top: 10px;
    height: 300px;
    width: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 2px;
}

/* .skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading{
    0%{
        background-color: rgba(0, 0, 0, 0.368);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.606);
    }
} */

.project-container-col{
    padding-block: 10px;
    margin: auto;
    /* padding-bottom: 150px; */
}

.project-container{
    border: 1px solid rgba(0, 0, 0, 0.32);
    margin: 10px;
    border-radius: 5px;
}
