

.profile-img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

/* .intro-row{
    padding-block: 100px;
} */

.title{
    font-size: 1.2rem;
}

.profile-info p{
    max-width: 80%;
}

.download-btn{
    font-weight: 500;
    text-decoration: none;
}
.profile-info{
    text-align: left;
}
.right{
    display: flex;
    justify-content: left;
    align-items: center;
}

.left{
    display: grid;
    place-content: center;
    padding: 0;
}

.header{
    width: 100%;
    padding-block:100px ;
    background-color: rgba(0, 0, 0, 0.096);
}

@media screen and (max-width:980px) {
    .profile-img-container{
        display: grid;
        place-content: center;
    }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
    .profile-info{
        text-align: center;
        padding-bottom: 100px;
    }
    .left{
        display: grid;
        place-content: center;
        margin: auto;
    }
    .profile-img{
        display: grid;
        place-content: center;
    }
    .intro-row{
        display: grid;
        place-content: center;
        margin: 0px;
    }

    .header{
        padding-bottom: 50px;
    }
}

@media screen and (max-width:425px) {
    .profile-img{
        height: 200px;
        width: 200px;
    }
}